
.contact-page-container {
  background-image: url('../../../assets/contact-form-img.jpg');
  background-size: fit-content;

}

.form-img {
  width: -webkit-fill-available;
}

.background-white {
  background-color: white;
}
