/* You can add global styles to this file, and also import other style files */


body {
  background-image: url('./assets//double-bubble-outline.png');
  background-repeat: repeat;
}


.box-shadow {
  box-shadow: 0 0 10px #e4e4e4;
}
